@model IEnumerable<BotAgentHubApp.Models.ChatBotEmailQuestion>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Live Chat</h2>

<div class="content">
    <div class="container-req" style="height: 70vh; outline: none">
        <iframe src="https://localhost:44361/Dashboard/DirectLine?Length=9" title="Live Chat"
                style="width: 78vw"></iframe>
    </div>

</div>

<div class="judul">
    <h2>Balas Melalui E-mail</h2>
</div>

@foreach (var item in Model)
{
    <div class="content">
        <div class="container-req">
            <div class="email-wrap mobile-hide">
                <span style="padding: 0 2vw 0 2vw; font-weight: normal;">

                    @Html.DisplayFor(modelItem => item.Email)

                </span>
            </div>

            <div class="message" style="font-weight: normal;">

                @Html.DisplayFor(modelItem => item.Question)

            </div>

            <button class="terima">
                <a href="https://localhost:44361/SendEmail">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                    </svg>
                </a>
            </button>

            @*<button class="terima"
                onclick="createPopupWin('https://localhost:44361/SendEmail','Balas Melalui E-mail', 300, 400)">
            <i class="fa fa-envelope" style="color: white;" aria-hidden="true"></i>

            <script>
                function createPopupWin(pageURL, pageTitle,
                    popupWinWidth, popupWinHeight) {
                    var left = (screen.width - popupWinWidth) / 2;
                    var top = (screen.height - popupWinHeight) / 4;

                    var myWindow = window.open(pageURL, pageTitle,
                        'resizable=no, width=' + popupWinWidth
                        + ', height=' + popupWinHeight + ', top='
                        + top + ', left=' + left);
                }
            </script>
        </button>*@

        </div>
    </div>
}
