<div class="sidenav" style="background-color: #23272D">
    <div class="align-items-center px-3 pt-2 text-white">
        <ul>
            <li>@Html.ActionLink("Dashboard", "Index", "Home", new { @class = "active" })</li>
            <li>@Html.ActionLink("Riwayat Chat", "Index", "ChatHistory")</li>
            <li>@Html.ActionLink("Pengaturan", "Index", "Setting")</li>
        </ul>
    </div>
</div>